<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.ClazzMapper">

    <!-- 关联嵌套查询 -->
    <resultMap id="clazzMap" type="com.mybatis.po.Clazz">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <collection column="id" property="students"
                    select="com.mybatis.mapper.StudentMapper.getStudents"
                    javaType="java.util.ArrayList"
                    ofType="com.mybatis.po.Student"
                    fetchType="lazy"/>
    </resultMap>


    <!--
     关联的嵌套结果
    -->
    <resultMap id="ClazzMap2" type="clazz">
        <id column="clazz_id" property="id" javaType="int"/>
        <result column="clazz_code" property="code" javaType="string"/>
        <result column="clazz_name" property="name" javaType="string"/>
        <collection property="students" ofType="student">
            <id column="student_id" property="id" javaType="int"/>
            <result column="student_name" property="name" javaType="string"/>
            <result column="student_age" property="age" javaType="int"/>
            <result column="student_sex" property="sex" javaType="string"/>
        </collection>
    </resultMap>


    <!--<resultMap id="clazzMap" type="clazz">-->
    <!--<id column="clazz_id" property="id" javaType="int"/>-->
    <!--<result column="clazz_code" property="code" javaType="string"/>-->
    <!--<result column="clazz_name" property="name" javaType="string"/>-->
    <!--</resultMap>-->



    <select id="getClazz2" parameterType="int" resultMap="ClazzMap2">
        select
        s.id as student_id,
        s.`name` as student_name,
        s.age as student_age,
        s.sex as student_sex,
        s.clazz_id as student_clazz_id,
        t.id as clazz_id,
        t.`name` as clazz_name,
        t.`code` as clazz_code
        from t_student s left outer join t_clazz t
        on s.clazz_id=t.id
        where t.id=#{id}
    </select>

    <select id="getClazz" parameterType="int" resultMap="clazzMap">
        select id,code,name FROM t_clazz WHERE id=#{id};
    </select>

    <insert id="insertClazz" parameterType="clazz"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_clazz(name,code)
        VALUES (#{name},#{code})
    </insert>


</mapper>