<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.StudentMapper">

    <!--
     关联嵌套查询 会产生N+1的问题：
        - 执行一个单独的sql语句获取结果列表 「+1」
        - 对返回的每条记录，执行了一个查询的语句来为每个加载细节 「N」
     mybatis的延迟加载查询可以分散这些语句的同时消耗
     -->
    <resultMap id="studentMap" type="com.mybatis.po.Student">
        <id column="id" property="id" javaType="int"/>
        <result column="name" property="name" javaType="string"/>
        <result column="sex" property="sex" javaType="string"/>
        <result column="age" property="age" javaType="int"/>
        <association column="clazz_id" property="clazz"
                     select="com.mybatis.mapper.ClazzMapper.getClazz"
                     javaType="com.mybatis.po.Clazz"/>
    </resultMap>


    <!--
  关联的嵌套结果
 -->
    <resultMap id="studentMap2" type="student">
        <id column="student_id" property="id" javaType="int"/>
        <result column="student_name" property="name" javaType="string"/>
        <result column="student_age" property="age" javaType="int"/>
        <result column="student_sex" property="sex" javaType="string"/>
        <association property="clazz" javaType="clazz">
            <id column="clazz_id" property="id" javaType="int"/>
            <result column="clazz_code" property="code" javaType="string"/>
            <result column="clazz_name" property="name" javaType="string"/>
        </association>
    </resultMap>


    <select id="getStudentInfo2" parameterType="int" resultMap="studentMap2">
        select
        s.id as student_id,
        s.`name` as student_name,
        s.age as student_age,
        s.sex as student_sex,
        s.clazz_id as student_clazz_id,
        t.id as clazz_id,
        t.`name` as clazz_name,
        t.`code` as clazz_code
        from t_student s left outer join t_clazz t
        on s.clazz_id=t.id
        where s.id=#{id}
    </select>


    <select id="getStudentInfo" parameterType="int" resultMap="studentMap">
        select id,name,sex,age,clazz_id FROM t_student WHERE id=#{id};
    </select>

    <insert id="insertStudent" parameterType="student"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_student(name,sex,age,clazz_id)
        VALUES (#{name},#{sex},#{age},#{clazz.id})
    </insert>

    <select id="getStudents" parameterType="int" resultType="student">
        select id,name,sex,age,clazz_id FROM t_student WHERE clazz_id=#{id};
    </select>
</mapper>