<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.UserMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <resultMap id="userMap" type="com.mybatis.po.User">
        <id column="id" property="id" javaType="long" jdbcType="BIGINT"/>
        <result column="user_name" property="userName"/>
        <result column="cnname" property="cnname"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="note" property="note"/>
    </resultMap>

    <select id="getUser" parameterType="long" resultMap="userMap">
        select id,user_name,cnname,birthday,sex,email,mobile,note FROM t_user WHERE id=#{id};
    </select>

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(user_name,cnname,birthday,sex,email,mobile,note)
        VALUES (#{userName},#{cnname},#{birthday},#{sex, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{email},#{mibile},#{note})
    </insert>

    <update id="updateUser" parameterType="user">
        update t_user set
            user_name=#{userName},
            cnname=#{cnname},
            birthday=#{birthday},
            sex=#{sex},
            email=#{email},
            mobile=#{mobile},
            note=#{note}
        WHERE id=#{id}
    </update>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM t_user WHERE id=#{id}
    </delete>

</mapper>